<p-growl [(value)]="msgs"></p-growl>
<p-confirmDialog></p-confirmDialog>
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Dự Án Thi Công
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <i class="m-nav__link-icon la la-home"></i>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <span class="m-nav__link-text">
                        Loại Dự Án
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách loại dự án
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-12">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search...">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="#" (click)="isAddNewProjectCategory = true" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Thêm Mới
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                            <!-- <th class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                <span>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </span>
                            </th> -->
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span>Name</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span>Actions</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row" *ngIf="isAddNewProjectCategory">
                            <!-- <td class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                <span>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </span>
                            </td> -->
                            <td class="m-datatable__cell">
                                <span>
                                    <input class="form-control m-input m-input--solid" type="text" placeholder="Tên loại dự án" [(ngModel)]="projectCategoryModel.name">
                                </span>
                            </td>
                            <td class="m-datatable__cell">
                                <span>
                                    <button class="btn btn-primary" (click)="createProjectCategery()">Save</button>
                                    <button class="btn btn-warning" (click)="isAddNewProjectCategory = false; projectCategoryModel.name = ''">Cancel</button>
                                </span>
                            </td>
                        </tr>
                        <tr class="m-datatable__row" *ngFor="let item of projectCategories">
                            <!-- <td class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                <span>
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="item.id">
                                        <span></span>
                                    </label>
                                </span>
                            </td> -->
                            <td class="m-datatable__cell">
                                <span *ngIf="!item.isEdit">{{item.name}}</span>
                                <span *ngIf="item.isEdit">
                                    <input class="form-control m-input m-input--solid" type="text" [(ngModel)]="item.name">
                                </span>
                            </td>
                            <td class="m-datatable__cell">
                                <span>
                                    <button *ngIf="!item.isEdit" (click)="item.isEdit = true" class="btn btn-primary">Edit</button>
                                    <button *ngIf="!item.isEdit" class="btn btn-danger" (click)="deleteProjectCategory(item.id)">Delete</button>
                                    <button *ngIf="item.isEdit" class="btn btn-primary" (click)="editProjectCategory(item)">Save</button>
                                    <button *ngIf="item.isEdit" class="btn btn-warning" (click)="item.isEdit = false">Cancel</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--    Paging here     -->
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<div class="m-content">
    <div class="m-portlet m-portlet--mobile">
        <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                    <h3 class="m-portlet__head-text">
                        Danh sách dự án
                    </h3>
                </div>
            </div>
        </div>
        <div class="m-portlet__body">
            <!--begin: Search Form -->
            <div class="m-form m-form--label-align-right m--margin-top-20 m--margin-bottom-30">
                <div class="row align-items-center">
                    <div class="col-xl-8 order-2 order-xl-1">
                        <div class="form-group m-form__group row align-items-center">
                            <div class="col-md-12">
                                <div class="m-input-icon m-input-icon--left">
                                    <input type="text" class="form-control m-input m-input--solid" placeholder="Search...">
                                    <span class="m-input-icon__icon m-input-icon__icon--left">
                                        <span>
                                            <i class="la la-search"></i>
                                        </span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 order-1 order-xl-2 m--align-right">
                        <a href="#" data-toggle="modal" data-target="#myModal" class="btn btn-accent m-btn m-btn--custom m-btn--icon m-btn--air m-btn--pill">
                            <span>
                                <i class="la la-cart-plus"></i>
                                <span>
                                    Thêm Mới
                                </span>
                            </span>
                        </a>
                        <div class="m-separator m-separator--dashed d-xl-none"></div>
                    </div>
                </div>
            </div>
            <!--end: Search Form -->
            <!--begin: Datatable -->
            <div class="m_datatable m-datatable m-datatable--default m-datatable--loaded">
                <table class="m-datatable__table">
                    <thead class="m-datatable__head">
                        <tr class="m-datatable__row">
                            <th class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                <span style="width: 50px;">
                                    <label class="m-checkbox m-checkbox--single m-checkbox--all m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox">
                                        <span></span>
                                    </label>
                                </span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Tên dự án</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Loại dự án</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Chủ đầu tư</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Công suất thiết kế</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Tiêu chuẩn</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;">Tiến độ</span>
                            </th>
                            <th class="m-datatable__cell m-datatable__cell--sort">
                                <span style="width: 132px;"></span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="m-datatable__body">
                        <tr class="m-datatable__row" *ngFor="let project of projects">
                            <td class="m-datatable__cell--center m-datatable__cell m-datatable__cell--check">
                                <span style="width: 50px;">
                                    <label class="m-checkbox m-checkbox--single m-checkbox--solid m-checkbox--brand">
                                        <input type="checkbox" value="item.id">
                                        <span></span>
                                    </label>
                                </span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.title}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.projectCategoryName}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.investor}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.efficiency}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.standard}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">{{project.progress}}</span>
                            </td>
                            <td class="m-datatable__cell">
                                <span style="width: 132px;">
                                    <button class="btn-warning" (click)="deleteProject(project.id)">Delete</button>
                                    <button class="btn-primary" data-toggle="modal" (click)="selectEditProject(project)" data-target="#editProjectModal">Edit</button>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--    Paging here     -->
            </div>
            <!--end: Datatable -->
        </div>
    </div>
</div>

<!--Popup-->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <app-project-create (reloadProjects)="getProjects()"></app-project-create>
    </div>
      
    </div>
  </div>
  <div class="modal fade" id="editProjectModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
    <div class="modal-content" *ngIf="isEditProject">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <app-project-edit [editProject]="editProject" [projectCategories]="projectCategories" (reloadProjects)="getProjects()"></app-project-edit>
    </div>
      
    </div>
  </div>