<!-- BEGIN: Subheader -->
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Tạo thông tin công ty
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/about/create" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Tạo Mới
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a routerLink="/about" class="m-nav__link">
                        <span class="m-nav__link-text">
                            About
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="col-md-12">
        <div class="wrap_box_content">
            <p-editor [(ngModel)]="about.description" [style]="{'height':'320px'}">
            </p-editor>
            <div *ngIf="isRequire" style="color:red; font-weight: 500; margin-top: 30px;">
                Thông tin không được để trống
            </div>
        </div>
    </div>
    <div class="col-md-12 text-right" style="margin:10px 0px;">
        <button style="margin-bottom: 20px;" class="btn btn-accent m-btn m-btn--air m-btn--custom" (click)="Create()">Lưu Thông Tin</button>
        <button style="margin-bottom: 20px;" class="btn btn-secondary m-btn m-btn--air m-btn--custom">Hủy</button>
    </div>
</div>
