<!-- BEGIN: Subheader -->
<p-growl [(value)]="msgs"></p-growl>
<div class="m-subheader" appunwraptag="">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                Thêm Mới Dự Án
            </h3>
            <ul class="m-subheader__breadcrumbs m-nav m-nav--inline">
                <li class="m-nav__item m-nav__item--home">
                    <a routerLink="/index" class="m-nav__link m-nav__link--icon">
                        <i class="m-nav__link-icon la la-home"></i>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Dự Án
                        </span>
                    </a>
                </li>
                <li class="m-nav__separator">
                    -
                </li>
                <li class="m-nav__item">
                    <a href="#" class="m-nav__link">
                        <span class="m-nav__link-text">
                            Thêm Mới
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- END: Subheader -->
<div class="m-content">
    <div class="row">
        <div class="col-lg-12">
            <!--begin::Portlet-->
            <div class="m-portlet">
                <div class="m-portlet__head">
                    <div class="m-portlet__head-caption">
                        <div class="m-portlet__head-title">
                            <span class="m-portlet__head-icon m--hide">
                                <i class="la la-gear"></i>
                            </span>
                            <h3 class="m-portlet__head-text text-danger">
                                Điền đầy đủ thông tin vào các trường (*)
                            </h3>
                        </div>
                    </div>
                </div>
                <!--begin::Form-->
                <form (ngSubmit)="addNewProject($event)" class="m-form m-form--fit m-form--label-align-right m-form--group-seperator-dashed" [formGroup]="projectForm">
                    <div class="form-group m-form__group">
                      <label for="Title">Tên dự án:</label> <span class="text-danger">(*)</span>
                      <input type="text" class="form-control" [(ngModel)]="newProject.title" formControlName="title">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="ProjectCategory">Loại dự án:</label>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                {{selectedProjectCategory.name}}
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#" (click)="selectProjectCategory(projectCategory)" *ngFor="let projectCategory of projectCategories">
                                    {{projectCategory.name}}
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group m-form__group">
                      <label for="Investor">Chủ đầu tư:</label> <span class="text-danger">(*)</span>
                      <input type="text" class="form-control" [(ngModel)]="newProject.investor" name="Investor"  formControlName="investor">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="Efficiency">Công suất thiết kế:</label> <span class="text-danger">(*)</span>
                        <input type="text" class="form-control" [(ngModel)]="newProject.efficiency" name="Efficiency"  formControlName="efficiency">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="Standard">Tiêu chuẩn xả thải:</label> <span class="text-danger">(*)</span>
                        <input type="text" class="form-control" [(ngModel)]="newProject.standard" name="Standard" formControlName="standard">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="Progress">Tiến độ:</label> <span class="text-danger">(*)</span>
                        <input type="text" class="form-control" [(ngModel)]="newProject.progress" name="Progress" formControlName="progress">
                    </div>
                    <div class="form-group m-form__group">
                        <label for="Description">Mô tả:</label>
                        <p-editor class="form-control" [style]="{'height':'320px'}" [(ngModel)]="newProject.description" formControlName="description"></p-editor>
                    </div>
                    <div class="form-group m-form__group">
                        <div class="col-lg-12">
                            <label class="control-label">
                                Chọn Hình ảnh : <span class="text-danger">(*)</span>
                            </label>
                            <p-fileUpload mode="basic" name="myfile[]" customUpload="true" (uploadHandler)="onUploadFile($event)" multiple="true"></p-fileUpload>
                        </div>
                    </div>
                    <div class="m-portlet__foot m-portlet__no-border m-portlet__foot--fit">
                            <div class="m-form__actions m-form__actions--solid">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <button type="submit" class="btn btn-primary" [disabled]="!projectForm.valid">
                                            Thêm Mới
                                        </button>
                                        <button id="create-project-btn" type="reset" class="btn btn-secondary">
                                            Hủy
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </form>
                
                <!--end::Form-->
            </div>
        </div>
    </div>
</div>